@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Common Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:root {
  --primary-color: #414f6b;
  --white-color: #fff;
  --black-color: #000;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0);
  padding-left: var(--bs-gutter-x, 0);
  margin-right: auto;
  margin-left: auto;
}
/* End of Common Styles */

/* Section 1 */
.section-1 {
  width: auto;
  height: 72.5vh;
  background: url('images/LaBanner2.png') no-repeat;
  background-size: cover;
  display: flex;
}

.logo {
  position: absolute;
  top: 1rem;
  left: 20%;
  transition: transform 0.5s;
}

.navbar {
  position: absolute;
  top: 1rem;
  right: 16%;
}

.navbar-link {
  font-size: 1.5rem;
  display: inline-block;
  justify-content: space-evenly;
  margin: 0 3rem;
  color: var(--white-color);
  transition: transform 0.5s;
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: 1px solid var(--white-color);
  text-decoration: none;
  letter-spacing: 0.1rem;
}

.logo:hover,
.navbar-link:hover {
  transform: scale(1.2);
  color: var(--white-color);
  cursor: pointer;
}

/* End of Section 1 */

/* Stickey Nav */
.sticky-nav {
  height: 6.7rem;
  width: 100%;
  position: relative;
  display: flex;
}

.logo2 {
  position: absolute;
  top: 1rem;
  left: 20%;
  transition: transform 0.5s;
}

.navbar-link2 {
  font-size: 1.5rem;
  display: inline-block;
  justify-content: space-evenly;
  margin: 0 3rem;
  color: var(--primary-color);
  transition: transform 0.5s;
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: 1px solid var(--primary-color);
  text-decoration: none;
  letter-spacing: 0.1rem;
}

.navbar2 {
  position: absolute;
  top: 2rem;
  right: 16%;
}

.logo2:hover,
.navbar-link2:hover {
  transform: scale(1.2);
  color: var(--primary-color);
  cursor: pointer;
}
/* End of Stickey Nav */

/* Section 2 */
.section-2 {
  width: 100%;
  height: 94vh;
  background: url('images/Bg.png') no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
}

.history-text-section {
  width: 62%;
}

.history {
  margin-top: 5rem;
}

.history-text {
  flex-direction: column;
  width: 94%;
  font-size: 1.5rem;
  font-weight: 300;
  left: 10%;
  margin-left: 6rem;
}

.numbers {
  left: 20%;
}

.carousel-bg {
  width: 100%;
  height: 20vh;
  position: absolute;
  background-color: rgba(65, 79, 107, 0.85);
  bottom: 0;
}

.thumb-container {
  position: relative;
  width: 67%;
}

.thumb-container:hover {
  cursor: crosshair;
}

.thumbnail {
  margin: 0 0.3rem;
}

.thumbnail img {
  height: 80%;
  width: 100%;
}

/* .swipe {
  overflow: auto;
  white-space: nowrap;
} */

/* End of Section 2 */

/* Section 3 */
.section-3 {
  width: 100%;
  height: 85vh;
  position: relative;
}

.climb-text-container {
  position: relative;
  left: 18%;
}

.climb-text-section {
  display: flex;
  flex-direction: row;
  margin: 2rem 0;
}

.climb-text {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0 2rem;
  width: 58%;
}

.tab-container {
  width: 100%;
  background-color: var(--primary-color);
}

.tab-content {
  font-size: 2rem;
  font-weight: 300;
}

.tab-bg1 {
  background: url('/images/tab1.png') no-repeat;
  background-size: cover;
  height: 80%;
  position: relative;
  background-position: bottom;
}
.tab-bg2 {
  background: url('/images/tab2.png') no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
  background-position: bottom;
}

.schedule-container {
  position: absolute;
  top: 15%;
  left: 16%;
  z-index: 1;
}

.nav-tabs .nav-link {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  left: 138%;
  color: rgb(175, 182, 197);
  letter-spacing: -0.1rem;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: var(--primary-color);
  background-color: rgb(175, 182, 197);
  border-color: var(--primary-color);
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 1px;
  letter-spacing: -0.1rem;
  border-bottom: none;
  border-top: none;
}

.schedule {
  margin: 3rem 0 1rem 5.4rem;
  transform: scale(1.1);
}

.schedule-text {
  display: flex;
  font-weight: 300;
  opacity: 0.7;
  margin-top: 0.8rem;
  padding: 0 1rem;
  margin-left: 2.4rem;
}

.schedule-dates {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin: 0 2rem;
}

.schedule-events {
  margin-left: 4rem;
}

.schedule-dates p,
.schedule-events p {
  font-size: 1.7rem;
}

/* Footer */
.footer {
  height: 8rem;
  width: 100%;
  position: relative;
  bottom: 0;
  background-color: var(--primary-color);
  display: flex;
}

.footer-logo {
  position: absolute;
  margin: 1rem 0;
  left: 16%;
}

.copy {
  position: absolute;
  right: 16%;
  align-self: center;
}
/* End of Footer */
/* End of Section 3 */
